body {
	background-image: linear-gradient(rgb(0,0,0,0.1),rgb(0,0,0,0.1)),url(backgroundd.jpg);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}
body {
	margin: 0px;
	border: 0px;
	padding-top: 70px;
}
#navbar {
	padding: 10px;
	margin: 30px;
	width: 95%;
	height: 30px;
	background-color: rgb(255, 230, 230, 0.5);
	color: white;
	position: fixed; 
	top: 0;
}
#linkref {
	color: white;
	text-decoration: none;
	padding: 50px;
}